@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
  z-index: 99;
}

*::-webkit-scrollbar-track {
  background: #eef2ff;
}

*::-webkit-scrollbar-thumb {
  background-color: #c7d2fe;
  border-radius: 20px;
  border: 3px solid #eef2ff;
}